:root {
  --back-color: #dffdfc;
  --description-font: Verdana, Geneva, Tahoma, sans-serif;
  --active-color: rgb(243, 200, 243);
  --shadow-setting: 0.2em 0.15em cadetblue;
}
body {
  background-color: var(--back-color);
}
.header {
  text-align: center;
  height: auto;
  display: block;
}
.h1-header {
  color: #ffe4e4;
  text-shadow: var(--shadow-setting);
  font-size: 5em;
  top: 10%;
  margin-top: 8%;
}
.navbar {
  width: 100%;
  position: fixed;
  border-radius: 3em;
  background-color: #ffe4e4;
  overflow: hidden;
  top: 0;
  height: 10%;
  z-index: 1;
}
.clickbar {
  font-weight: bold;
  float: left;
  color: #5bf3ee;
  padding: 0.2em 0.8em;
  text-decoration: none;
  font-size: 2em;
}
.clickbar:active {
  background-color: var(--active-color);
  font-size: 200%;
  border-radius: 10%;
  opacity: 0.3;
}
.clickbar:hover {
  color: tomato;
  padding-top: 1%;
  text-shadow: var(--shadow-setting);
}
.navul {
  list-style: none;
}
.P {
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  line-height: 1.25em;
  padding: 2.25em 5em;
  font-weight: 800;
  font-size: 1.3em;
  border: 0.3em solid #ffe4e4;
  background-color: rgb(243, 200, 243);
}
.bodystyle {
  width: fit-content;
  padding-bottom: 1%;
  margin: 5% auto;
}
#header-p {
  font-size: 1.75em;
}
#pvideo {
  text-align: center;
}
#header-p3 {
  font-size: 1.75em;
}
.brands {
  list-style: none;
  margin: 5% auto;
  text-align: left;
  font-size: 1.5em;
}
.description {
  font-size: 0.75em;
  text-align: left;
  font-family: var(--description-font);
}
.librands {
  text-decoration: underline;
}
.brand-icon {
  height: 6em;
  margin-bottom: 5%;
  margin-left: 10%;
}
.brand-icon:hover {
  padding-left: 0.4%;
  padding-bottom: 0.4%;
  background-color: var(--active-color);
  border-radius: 10%;
}
.grid-tricks {
  margin: 5% 0%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.span {
  font-weight: var(--description-font);
  font-weight: bold;
}
.div-tricks {
  margin: 2% 6%;
}
#p-store {
  font-size: 2em;
}
.grid-store {
  margin: 5% auto;
  display: grid;
  grid-template-columns: auto auto auto;
}
.store-img {
  display: block;
  margin: 6% auto;
}
.price {
  display: block;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  position: relative;
  top: 2%;
}
.buy-button {
  position: absolute;
  top: 84%;
  right: 43%;
  margin: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
  background-color: var(--active-color);
  border-radius: 1em;
}
#coat {
  display: block;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  position: relative;
  top: 8%;
}
.buy-button:hover {
  animation-name: buy;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}
@keyframes buy {
  0% {
    width: 15%;
    background-color: rgb(247, 176, 247);
  }
  50% {
    width: 30%;
    background-color: rgb(250, 162, 250);
  }
  75% {
    width: 25%;
    background-color: rgb(250, 101, 250);
  }
  100% {
    width: 20%;
    background-color: rgb(248, 82, 248);
  }
}
.store-items {
  border: 1.5em solid var(--active-color);
  position: relative;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8.5%;
  text-align: center;
  background-color: #ffe4e4;
}
.footer-content-right {
  padding-right: 1.5%;
  margin-top: 1%;
  float: right;
}
.icon-style {
  height: 2.7em;
  margin-left: 1em;
}
.icon-style:hover {
  background-color: yellow;
  padding: 0.4em;
}
.name {
  float: left;
  font-weight: 1000;
  font-size: 130%;
  font-family: "Englebert", sans-serif;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.7%;
  border: 0.2em solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
  margin-top: 0.7%;
  margin-bottom: 1%;
  resize: vertical;
}
input[type="submit"] {
  background-color: #ffe4e4;
  color: #5bf3ee;
  padding: 0.7% 3%;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10%;
}
input[type="submit"]:hover {
  background-color: tomato;
}
